In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import yfinance as yf
import statsmodels.api as sm

In [2]:
data = pd.read_csv('FAANG.csv',parse_dates=True)
data.index = pd.to_datetime(data.Date)
data.drop('Date',axis=1,inplace=True)
nasdaq = yf.Ticker('^IXIC').history(period='max').Close
data['NASDAQ'] = nasdaq
data['NASDAQ_Ret'] = nasdaq.pct_change()
data

,FB,AMZN,AAPL,NFLX,GOOGL,FB_Ret,AMZN_Ret,AAPL_Ret,NFLX_Ret,GOOGL_Ret,NASDAQ,NASDAQ_Ret
Date,,,,,,,,,,,,
2012-05-18,38.23,213.85,16.37,9.99,300.50,NaN,NaN,NaN,NaN,NaN,2778.79,-0.012404
2012-05-21,34.03,218.11,17.32,10.25,307.36,-0.109861,0.019921,0.058033,0.026026,0.022829,2847.21,0.024622
2012-05-22,31.00,215.33,17.19,9.67,300.70,-0.089039,-0.012746,-0.007506,-0.056585,-0.021668,2839.08,-0.002855
2012-05-23,32.00,217.28,17.61,10.27,305.04,0.032258,0.009056,0.024433,0.062048,0.014433,2850.12,0.003889
2012-05-24,33.03,215.24,17.45,10.04,302.13,0.032188,-0.009389,-0.009086,-0.022395,-0.009540,2839.38,-0.003768
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-05,264.65,3199.20,116.50,520.65,1482.83,0.018120,0.023744,0.030791,0.034966,0.018707,11332.49,0.023248
2020-10-06,258.66,3099.96,113.16,505.87,1451.02,-0.022634,-0.031020,-0.028670,-0.028388,-0.021452,11154.60,-0.015697
2020-10-07,258.12,3195.69,115.08,534.66,1459.14,-0.002088,0.030881,0.016967,0.056912,0.005596,11364.60,0.018826
2020-10-08,263.76,3190.55,114.97,531.79,1483.43,0.021850,-0.001608,-0.000956,-0.005368,0.016647,11420.98,0.004961
2020-10-09,264.45,3286.65,116.97,539.44,1510.45,0.002616,0.030120,0.017396,0.014385,0.018215,11579.94,0.013918

In [3]:
ff = pd.read_csv('FF_Daily.csv')
ff.index=pd.to_datetime(ff.Date, format='%Y%m%d', errors='ignore')
ff.drop(['Date','Mkt-RF'],axis=1,inplace=True)
ff

             SMB   HML     RF
Date
1926-07-01 -0.24 -0.28  0.009
1926-07-02 -0.32 -0.08  0.009
1926-07-06  0.27 -0.35  0.009
1926-07-07 -0.59  0.03  0.009
1926-07-08 -0.36  0.15  0.009
...          ...   ...    ...
2020-07-27  0.75 -1.93  0.000
2020-07-28 -0.72  1.01  0.000
2020-07-29  0.54  0.84  0.000
2020-07-30  0.47 -1.81  0.000
2020-07-31 -1.54 -0.65  0.000

[24790 rows x 3 columns]

In [4]:
data = pd.concat([data,ff],axis=1)
data.dropna(inplace=True)
data.drop(data.columns[0:5],axis=1,inplace=True)
data.drop('NASDAQ',axis=1,inplace=True)
data

,FB_Ret,AMZN_Ret,AAPL_Ret,NFLX_Ret,GOOGL_Ret,NASDAQ_Ret,SMB,HML,RF
Date,,,,,,,,,
2012-05-21,-0.109861,0.019921,0.058033,0.026026,0.022829,0.024622,0.67,-1.18,0.0
2012-05-22,-0.089039,-0.012746,-0.007506,-0.056585,-0.021668,-0.002855,-0.87,0.28,0.0
2012-05-23,0.032258,0.009056,0.024433,0.062048,0.014433,0.003889,0.49,-0.27,0.0
2012-05-24,0.032188,-0.009389,-0.009086,-0.022395,-0.009540,-0.003768,-0.01,0.21,0.0
2012-05-25,-0.033909,-0.010918,-0.005731,-0.000996,-0.020091,-0.000652,0.23,-0.10,0.0
...,...,...,...,...,...,...,...,...,...
2020-07-27,0.012093,0.015388,0.023688,0.031637,0.014070,0.016702,0.75,-1.93,0.0
2020-07-28,-0.014475,-0.017963,-0.016484,-0.014405,-0.016856,-0.012735,-0.72,1.01,0.0
2020-07-29,0.013775,0.011065,0.019231,-0.008250,0.013208,0.013541,0.54,0.84,0.0
2020-07-30,0.005187,0.006049,0.012122,0.002725,0.009754,0.004256,0.47,-1.81,0.0
2020-07-31,0.081748,0.036961,0.104666,0.006340,-0.032775,0.014872,-1.54,-0.65,0.0

### French Fama

In [5]:
stockRet = data['FB_Ret']-data['RF']
stockRet.name = 'stockRet'
marketRet = data['NASDAQ_Ret']-data['RF']
marketRet.name = 'marketRet'
SMB = data['SMB']
SMB.name='SMB'
HML = data['HML']
HML.name='HML'
regressData= pd.concat([stockRet,marketRet,SMB,HML],axis=1)
regressData.dropna(inplace=True)
regressData

            stockRet  marketRet   SMB   HML
Date
2012-05-21 -0.109861   0.024622  0.67 -1.18
2012-05-22 -0.089039  -0.002855 -0.87  0.28
2012-05-23  0.032258   0.003889  0.49 -0.27
2012-05-24  0.032188  -0.003768 -0.01  0.21
2012-05-25 -0.033909  -0.000652  0.23 -0.10
...              ...        ...   ...   ...
2020-07-27  0.012093   0.016702  0.75 -1.93
2020-07-28 -0.014475  -0.012735 -0.72  1.01
2020-07-29  0.013775   0.013541  0.54  0.84
2020-07-30  0.005187   0.004256  0.47 -1.81
2020-07-31  0.081748   0.014872 -1.54 -0.65

[2063 rows x 4 columns]

In [12]:
def famafrench(stock_name):
    #Prepare DataFrame
    stockRet = data[stock_name]-data['RF']
    stockRet.name = 'stockRet'
    marketRet = data['NASDAQ_Ret']-data['RF']
    marketRet.name = 'marketRet'
    SMB = data['SMB']
    SMB.name='SMB'
    HML = data['HML']
    HML.name='HML'
    regressData= pd.concat([stockRet,marketRet,SMB,HML],axis=1)
    regressData.dropna(inplace=True)
    stock = stock_name.replace('_Ret','')
    #Regress
    regress = sm.OLS(regressData['stockRet'],sm.add_constant(regressData.iloc[:,1:]))
    result = regress.fit()
    print('%s: α=%.6f, β=%.6f, SMB coef.=%.6f, HML coef.=%.6f'
          %(stock,result.params[0],result.params[1],result.params[2],result.params[3]))
    print('Corresponding p-value: α=%.6f, β=%.6f, SMB coef.=%.6f, HML coef.=%.6f'
         %(result.pvalues[0],result.pvalues[1],result.pvalues[2],result.pvalues[3]))

In [13]:
famafrench('FB_Ret')

FB: α=0.000569, β=1.093153, SMB coef.=-0.000410, HML coef.=-0.002983
Corresponding p-value: α=0.193163, β=0.000000, SMB coef.=0.614319, HML coef.=0.000004

In [14]:
famafrench('AMZN_Ret')

AMZN: α=0.000753, β=1.069962, SMB coef.=-0.002449, HML coef.=-0.005416
Corresponding p-value: α=0.014592, β=0.000000, SMB coef.=0.000020, HML coef.=0.000000

In [15]:
famafrench('AAPL_Ret')

AAPL: α=0.000494, β=1.111724, SMB coef.=-0.003837, HML coef.=-0.001192
Corresponding p-value: α=0.061862, β=0.000000, SMB coef.=0.000000, HML coef.=0.002337

In [16]:
famafrench('NFLX_Ret')

NFLX: α=0.001685, β=1.109416, SMB coef.=0.001501, HML coef.=-0.005936
Corresponding p-value: α=0.004992, β=0.000000, SMB coef.=0.178676, HML coef.=0.000000

In [17]:
famafrench('GOOGL_Ret')

GOOGL: α=0.000207, β=1.044771, SMB coef.=-0.002353, HML coef.=-0.001649
Corresponding p-value: α=0.359083, β=0.000000, SMB coef.=0.000000, HML coef.=0.000001